/* Fonte global e base */
html, body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

/* ===== HEADER ===== */
header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 3px solid #FFB347; 
  font-size: 23px;
}

header .logo img {
  height: 70px;

}

header nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
}

header nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  transition: color 0.3s;
}

header nav a:hover {
  color: #FF5B00;
}

header .login-links {
  font-weight: 600;
}

header .login-links a {
  color: #FFB347;
  text-decoration: none;
}

header .login-links a:hover {
  color: #FF5B00;
  text-decoration: none;
}

header .heart {
  margin-left: 10px;
}

.banner {
  background: linear-gradient(to bottom, #fd980a, #f79634);
  text-align: center;
  position: relative;
}

.banner-top h2 {
  margin: 0;
  top: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 70px;
  position: relative;
}

.banner-top h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 10px 0 0;   
  color: #fff;
  position: relative;
  top: 80px;
  z-index: 1;
}

.banner-image {
  margin-top: 20px;
}

.banner-image img {
  width: 100%;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  position: relative;
  margin-bottom: -10px;
}

.destaque {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000;
  border-top: 2px solid #333;
  top:-40px;
}

.destaque-left img {
  width: 700px;
  border-radius: 10px;
  height: 100;
}

.destaque-right {
  flex: 1;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  position: relative;
  
}

.destaque-right h3 {
  padding-top: 0;
  color: #fff;
  font-size: 80px;
  position: relative;
  top: 150px;
  z-index: 1;
}

.destaque-right p {
  color: #FFB347;
  font-size: 40px;
  margin: 10px;
  position: relative;
  top: 100px;
}

.destaque-right span {
  color: #FF7E00;
  font-weight: bold;
}

.destaque-right a{
  margin-left: 400px;
  position: relative;
  top: 150px;
  font-size: 30px;
}

.destaque-right img{
  position: relative;
  top: 100px;
  float: right;
  width: 500px;

}

.btn {
  background-color: #FF5B00;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #EE4136;
}

.mascote {
  display: block;
  width: 100px;
  margin-top: 20px;
}

.final {
  text-align: center;
  padding: 40px 20px;

}

.final img {
  width: 250px;
  position: relative;
  left: -700px;
  top: 40px;
}

.final p {
  margin-top: 20px;
  font-size: 60px;
  color: #FF7E00;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  top: -100px;
  z-index: 1;
  margin-bottom: -10px;
}

footer {
  background-color: #000;
  
  text-align: center;
  border-top: 2px solid #191919;
}

footer .footer-nav {
  margin-bottom: 20px;
  position: relative;
  top: 150px;
  font-size: 30px;
}

footer .footer-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  font-weight: 600;
  position: relative;
  
}

footer nav a:hover {
  color: #FF5B00;
  text-decoration: none;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.footer-logo p {
  color: #FFB347;
  font-weight: 700;
  margin-top: 8px;
  position: relative;
  top: -240px;
  left: -300px;
}

.footer-social p {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-content img {
  width: 240px;
  margin: 0 5px;
  position: relative;
  left: -300px;
  top: 20px;
}

.footer-social img {
  width: 240px;
  position: relative;
  left: 300px;
  top: -20px;
}

.footer-copy {
  font-size: 0.8rem;
  color: #aaa;
  margin-top: 20px;
  position: relative;

}


.favoritos-link {
  position: relative;
  font-size: 20px;
}

#favoritos-count {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: #ff7b00;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  font-weight: bold;
}
