
html, body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f9e8d0; 
    color: #2b2b2b;
}

.container {
    display: flex;
    height: 100vh;
}


.image-section {
    flex: 1;
    background-color: #f8d19b;
    background-image: url('imagens/imagem2.jpeg');
    background-size: cover;
    background-position: center;
}

.login-section {
    flex: 1;
    font-size: 30px;
    background-color: #fef3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


nav {
    position: absolute;
    top: 20px;
    right: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #e46a2e; 
    font-weight: bold;
    font-size: 13px;
}

nav a:hover {
    text-decoration: none;

}


h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: #000;
    margin-bottom: 25px;
    text-align: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #fff;
}

.input-group i {
    color: #555;
    margin-right: 8px;
}

.input-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}

.btn-login {
    background-color: #8b4e1e; 
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #a55c26;
}

.cadastre {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: #e46a2e;
    text-decoration: none;
}

.cadastre:hover {
    text-decoration: underline;
    text-decoration: none;
}
